<html>
  <head>
    <title>Employees</title>
    <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css" />
  </head>

  <body>
<!--creating the nav bar-->  
    <div class="nav">
      <a href="/home">Home</a>
      <a href="/employees">Employees</a>
      <a href="/items">Items</a>
      <a href="/sales">Sales</a>
      <a href="/help">Help</a>
      <a href="/">Log Out</a>
    </div>

    <div class="page">
      <h2 class="heading">Employees</h2>

<!--creating search and add bar-->
      <div>
        <form method="POST" action="/employees">
          <input name="search" class="search-bar" type="text" placeholder="Search by name or ID">
          <button name="search-form" class="search-button" type="submit">Search</button>
        </form>
        <button id="openPopup" class="add">Add</button>


<!--creating the add employee popup-->
        <div id="popup" class="popup">
          <div class="popup-content">
              
            <h2>Employee Details</h2>

            <form method="POST" action="/employees">

            <div class="input-fields">

              <label for="name" class="hi">Name:</label>
              <input type="text" id="name" name="name"><br><br>

              <label for="empID">Employee ID:</label>
              <input type="number" id="empID" name="empID"><br><br>

              <label for="jobTiitle">Job Title:</label>
              <input type="text" id="JobTitle" name="jobTitle"><br><br>

              <label for="startDate">Start Date:</label>
              <input type="date" id="startDate" name="startDate"><br><br>

              <label for="DOB">Date of Birth:</label>
              <input type="date" id="DOB" name="DOB"><br><br>

              <label for="phone">Phone Number:</label>
              <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"><br><br>

              <label for="manager">Manager:</label>
              <input type="text" id="manager" name="manager">

              <input type="hidden" name="userID" value="1">
            </div>
              
            <button id="closePopup" name="empAdd">Add Employee</button>
            
          </form>

          </div>
        </div>


<!--creating the edit profile popup-->
        {% for row in employees %}
        <div id="edit_popup_{{  row[0]  }}" class="edit-popup">
          <div class="popup-content">
              
            <h2>Employee Details</h2>

            <form method="POST" action="emp_update/{{row[0]}}"> 
              
            <div class="input-fields">
              

              <label for="name" class="hi">Name:</label>
              <input type="text" id="name" name="name" value="{{row[1]}}"><br><br>

              <label for="empID">Employee ID:</label>
              <input type="number" id="empID" name="empID" value="{{row[2]}}"><br><br>

              <label for="jobTiitle">Job Title:</label>
              <input type="text" id="JobTitle" name="jobTitle" value="{{row[3]}}"><br><br>

              <label for="startDate">Start Date:</label>
              <input type="date" id="startDate" name="startDate" value="{{row[4]}}"><br><br>

              <label for="DOB">Date of Birth:</label>
              <input type="date" id="DOB" name="DOB" value="{{row[5]}}"><br><br>

              <label for="phone">Phone Number:</label>
              <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" value="{{row[6]}}"><br><br>

              <label for="manager">Manager:</label>
              <input type="text" id="manager" name="manager" value="{{row[7]}}">

            </div>

              <button id="save-changes">Save Changes</button>

            </form>
            
          </div>
        </div>

      {% endfor %}


<!--creating the view profile popup-->
        {% for row in employees %}
          <div id="profile_{{  row[0]  }}" class="profile">
            <div class="profile-content">

              <h2>{{  row[1]  }}</h2>

              <div class="profile-fields">
                
                <p class="emp-details">Employee ID: {{  row[2]  }}</p>
                
                <p class="emp-details">Job Title: {{  row[3]  }}</p>

                <p class="emp-details">Start Date: {{  row[4]  }}</p>

                <p class="emp-details">Date of Birth: {{  row[5]  }}</p>

                <p class="emp-details">Phone Number: {{  row[6]  }}</p>

                <p class="emp-details">Manager: {{row[7]}}</p>
              </div>

              <div>
                <button onclick="editprofile('{{row[0]}}')" class="profile-button" id="edit-button">Edit</button>
                <button onclick="openConfirm('{{row[0]}}')" class="profile-button" id="openConfirm">Delete</button>
              </div>
            </div>
          </div>
        {% endfor %}


<!--creating the delete confirmation popup-->
        {% for row in employees %}
        <div id="confirm_{{row[0]}}" class="confirm">
          <div class="confirm-content">
            <p class="confirm-text">Are you sure you want to permanently delete this employee entry?</p>
            <div>
              <a href="/emp_delete/{{row[0]}}"><button class="confirm-button" id="yes-button">Yes</button></a>
              <button class="confirm-button" id="no-button_{{row[0]}}">No</button>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>


<!--creating table-->
      <div class="table">
        <table>
          <thead>
          <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Title</th>
          </tr>
          </thead>
          
          <tbody>

            {% for row in employees %}
            <tr>
              <td><a onclick="viewprofile('{{row[0]}}')" id="openProfile" class="name-link">{{ row[1] }}</a></td>
              <td>{{  row[2]  }}</td>
              <td>{{  row[3]  }}</td>
            </tr>

          {% endfor %}
        </tbody>

        </table>
      </div>

    </div>
    


    <!--popup code - https://www.geeksforgeeks.org/how-to-create-popup-box-using-html-and-css/-->
    <script>
      const openPopup = document.getElementById('openPopup');
      const popup = document.getElementById('popup');

      openPopup.addEventListener('click', () => {
          popup.style.display = 'flex';
      });

      window.addEventListener('click', (event) => {
        if (event.target === popup) {
          popup.style.display = 'none';
        }
      });

      function viewprofile(id) {
        
        let x = 'profile_' + id;
        let profile = document.getElementById(x);
        profile.style.display = 'flex';

        window.addEventListener('click', (event) => {
          if (event.target === profile) {
            profile.style.display = 'none';
          }
        })
      };

      function editprofile(id) {
        
        let view = 'profile_' + id;
        let edit = 'edit_popup_' + id;
        let profile = document.getElementById(view)
        let editProfile = document.getElementById(edit);
        editProfile.style.display = 'flex';
        profile.style.display = 'none';

        window.addEventListener('click', (event) => {
          if (event.target === editProfile) {
            editProfile.style.display = 'none';
          }
        })
      };

      function openConfirm(id) {
        
        let x = 'confirm_' + id;
        let no = 'no-button_' + id;
        let erase  = document.getElementById(x);
        let back = document.getElementById(no);

        erase.style.display = 'flex';

        window.addEventListener('click', (event) => {if (event.target === back) {
          erase.style.display = 'none';
        }})
      };

  </script>

  </body>

</html>