<html>
  <head>
    <title>Help</title>
    <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css" />
  </head>

  <body>
<!--creating the nav bar-->  
    <div class="nav">
      <a href="/home">Home</a>
      <a href="/employees">Employees</a>
      <a href="/items">Items</a>
      <a href="/sales">Sales</a>
      <a href="/help">Help</a>
      <a href="/">Log Out</a>
    </div>

    <div class="page">
    <h2 class="heading">FAQ</h2>

    <div class="help-list-box">
      <ul>
        <li>How can I add an employee to my team?</li>
          <ul>
            <li>On the Employees tab, click on the Add button and enter in all the required information.</li>
          </ul>
        <li>How can I add an item to my inventory?</li>
          <ul>
            <li>On the Items tab, click on the Add button and enter in all the required information.</li>
          </ul>
        <li>How can I edit an employee or item entry?</li>
          <ul>
            <li>On the appropriate tab, search for the desired entry in the table or by using the search field. Select the employee or item to be changed to view the profile and select the Edit button.</li>
          </ul>
        <li>How can I delete an employee or item entry?</li>
          <ul>
            <li>On the appropriate tab, search for the desired entry in the table or by using the search field. Select the employee or item to be changed to view the profile and select the Delete button.</li>
          </ul>
        <li>How can I filter the sales report?</li>
          <ul>
            <li>On the sales tab, you can search for an employee name, item name, or order # to generate a new sales report with only your serach item.</li>
          </ul>
        <li>How can I change my password?
          <ul>
            <li>Just click <a href="/change">here!</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <p>Contact <a href="#">support@salestracker.com</a> for further questions</p>
    </div>
  </body>

</html>